<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'> -->

    <!-- Page title -->
    <title>WebDiary</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="vendor\animate.css\animate.css">
    <link rel="stylesheet" href="vendor\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="vendor\toastr\toastr.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="styles\pe-icons\pe-icon-7-stroke.css">
    <link rel="stylesheet" href="styles\pe-icons\helper.css">
    <link rel="stylesheet" href="styles\stroke-icons\style.css">
    <link rel="stylesheet" href="styles\style.css">
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Main content-->
    <section class="content" style="margin-left: 0px">
        <div class="container-fluid">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="view-header">
                    <div class="pull-right text-right" style="line-height: 14px">
                        <small>
                            Сегодня<br>
                            <% var day = moment().format('dddd') %>
                            <span class="c-white"><%= day[0].toUpperCase() + day.slice(1) %></span><br>
                            <span class="c-white"><%= moment().format("DD.MM.YYYY"); %></span></small>
                    </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-menu"></i>
                    </div>
                    <div class="header-title">
                        <h3>Список дел</h3>
                        <small>
                            Поддержка Drag & Drop для каждого пункта
                        </small>
                    </div>
                </div>
                <hr>
            </div>


            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
                            <!-- <a class="panel-close"><i class="fa fa-times"></i></a> -->
                        </div>
                        Ежедневник
                    </div>
                    <div class="panel-body">
                        <p class="m-b-lg">
                            Задачи, которые привязаны ко времени или дню
                        </p>
                        <%- include('tasklist', {data, moment}); %>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="vendor\pacejs\pace.min.js"></script>
<script src="vendor\jquery\dist\jquery.min.js"></script>
<script src="vendor\bootstrap\js\bootstrap.min.js"></script>
<script src="vendor\nestable\jquery.nestable.js"></script>
<script src="vendor\toastr\toastr.min.js"></script>


<!-- App scripts -->
<script src="scripts\luna.js"></script>
<script src="scripts\index.js"></script>

<script>
    $(document).ready(function () {

        // Log for nestable list
        var updateOutput = function (e) {
            var list = e.length ? e : $(e.target),
                    output = list.data('output');
            if (window.JSON) {
                output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
            } else {
                output.val('JSON browser support required for this demo.');
            }
        };

        // Activate Nestable for list 1
        $('#nestable').nestable({
            group: 1
        }).on('change', updateOutput);


        // Output initial serialised data
        updateOutput($('#nestable').data('output', $('#nestable-output')));

    });
</script>

</body>

</html>