<div class="dd" id="nestable">
    <ol class="dd-list">
        <% 
        /**
         * Вывод дней с задачами
         * @param data [object] - список дней
         */
        Object.keys(data).map(function(day, index) {
            var tasks = data[day];                %>
            <li class="dd-item">
                <div class="dd-handle">
                    <span><i class="fa fa-bolt m-r-xs"></i></span>
                    <% // Делаем первую букву заглавной
                    var name = moment(day, "DD.MM.YYYY").format("dddd")
                    name = name[0].toUpperCase() + name.slice(1);    %>
                    <%= name %> &ensp; <%= day %>
                    <div class="panel-tools">
                        <a class="panel-close"><i class="fa fa-calendar-plus-o"></i></a>
                    </div>
                </div>
                <ol class="dd-list">
                    <%
                    /**
                     * Вывод задач у текущего дня
                     * @param tasks [object] - список задач
                     */
                    Object.keys(tasks).map(function(number, index) { 
                        var task = tasks[number]                  %>            
                        <li class="dd-item">
                            <div class="dd-handle">
                                <span class="pull-left"> <%= task.time %> </span>&ensp;
                                <%= task.title %>
                            </div>
                        </li>
                    <% }) %>
                </ol>
            </li>
        <% }) %>
    </ol>
</div>